node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
.dev.vars*
!.env
!.env.production
!**/.dev.vars.example
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
coverage
playwright-report
test-results
.repos/effect

# turbo
.turbo

# typescript
*.tsbuildinfo
.idea
