node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
.dev.vars*
!**/.dev.vars.example
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
coverage
playwright-report
test-results
.migration
reports/migration

# turbo
.turbo

# typescript
*.tsbuildinfo
